:root {
    --white-color: #f9faf9;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}

.grid {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}